frontend/reference_code_for ai-language-labs-main-project/pages/shop_keeper.html
frontend/reference_code_for ai-language-labs-main-project/styles/ai_styles.css
frontend/reference_code_for ai-language-labs-main-project/styles/hindi_intro.css
